* {
    margin: 0;
}

h1 {
    color: cadetblue;
    text-align: center;
}

h2 {
    color: cadetblue;
    text-align: center;
}


.nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav_about {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav_links a {
    text-decoration: none;
    color: #333;
}

.nav_links a:hover {
    color: cadetblue;

}

body {
    background: #f0f8ff;
    min-height: 100vh;
    flex-direction: column;
    display: flex;


}

.about_section {

    color: black;
    padding: 20px;


    text-align: center;


}

.skills_section {
    color: black;
    padding: 20px;


    text-align: center;

}

.skill {
    list-style: none;
}

footer {
    margin-top: auto;
}